.land_tile {
	background-image: url("../assets/land_tile.png");
}

.damage_tower_tile {
	background-image: url("../assets/land_tile_damage_tower.png");
}

.freeze_tower_tile {
	background-image: url("../assets/land_tile_freeze_tower.png");
}

.money_tower_tile {
	background-image: url("../assets/land_tile_money_tower.png");
}

.path_tile {
	font-size:8px;
	font-weight: bolder;
	background-image: url("../assets/path_tile.png");
}

.path_tile_print {
	background-image: url("../assets/path_tile_print.png");
}

.window {
	background-color: rgb(86,58,25);
	background-image: url("../assets/stone_texture2.jpg");
}

.box {
	color:rgba(255, 255, 255, 0.9);
	background-color: rgba(51, 51, 51, 0.75);
	font-weight:bold;
	font-size: 10px;
}